.about-main {
    padding-top: 184px;
    padding-bottom: 184px;
    background: url(/public/images/about-main-bg.png) no-repeat;
}

.about-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
    color: #274C5B;
}

.about-bl-above {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 36px;
    color: #68A47F;
}

.about-bl-title {
    margin-top: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: #274C5B;
}

.about-creative {
    margin-top: 68px;
    margin-left: 30px;
    gap: 40px;

    .about-bl-title {
        margin-bottom: 14px;
    }

    .last-par {
        margin-top: 20px;
    }
}

.about-creative-desc {
    width: 610px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #525C60;
}

