.home-main {
    padding-top: 247px;
    padding-bottom: 246px;
    padding-left: 260px;
    background: url("/public/images/home-main.png") no-repeat;
}

.home-bl-above {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 36px;
    color: #68A47F;
}

.home-bl-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 70px;
    color: #274C5B;
}

.home-main .home-bl-title {
    margin-top: 8px;
    margin-bottom: 23px;
}

.home-banner {
    width: fit-content;
    margin: 154px auto;
    margin-bottom: 0;
    gap: 36px;
}

.home-natural,
.home-offer {
    width: 682.24px;
    padding-top: 109px;
    padding-bottom: 110px;
    padding-left: 54.58px;
}

.home-natural {
    background: url('/public/images/home-naural-bg.png') no-repeat;
}

.home-natural .home-bl-above {
    color: #fff;
}

.home-natural-title,
.home-offer-title {
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.home-natural-title {
    color: #fff;
}

.home-offer {
    background: url('/public/images/home-offer-bg.png') no-repeat;
}

.home-offer-title {
    color: #274C5B;
}

.home-about {
    margin-top: 190px;
    padding-top: 87px;
    padding-bottom: 113px;
    padding-left: 100px;
    background-color: #F9F8F8;
}

.home-about .home-bl-title {
    margin-top: 8px;
}

.home-about-desc {
    width: 690px;
    margin-top: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #525C60;
}

.home-about-points {
    margin-top: 46px;
    margin-bottom: 46px;
    flex-direction: column;
    gap: 30px;

    .about-points-item {
        gap: 19px;

        .points-item-title {
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-size: 25px;
            color: #274C5B;
        }

        .points-item-desc {
            width: 444px;
            margin-top: 7px;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.6;
            color: #525C60;
        }
    }
}

.home-products {
    margin-top: 176px;
    margin-left: 260px;
    margin-right: 260px;

    .action-wr {
        margin: 122px auto;
        margin-bottom: 0;
    }
}

.home-products .home-bl-above,
.home-products .home-bl-title {
    text-align: center;
}

.home-products .home-bl-title {
    margin-top: 8px;
}

.home-products-box {
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.home-testimonial {
    margin-top: 200px;
    padding-top: 164px;
    padding-bottom: 164px;
    background: url('/public/images/home-testimonial-bg.png') no-repeat;

    .home-bl-above {
        text-align: center;
    }

    .testimonial-author-name {
        margin-top: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        color: #274C5B;
    }

    .testimonial-author-pos {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.6;
        text-align: center;
        color: #525C60;
    }

    .testimonial-navigation {
        width: fit-content;
        margin: 19px auto;
        margin-bottom: 0;
        gap: 14px;

        .navigation-btn__active {
            background-color: #7EB693;
            border-color: #7EB693;
        }
    }

    .testimonial-navigation-btn {
        display: block;
        width: 8px;
        height: 8px;
        background-color: #C4C4C4;
        border: 1px solid #C4C4C4;
        border-radius: 100%;
        cursor: pointer;
    }
}

.home-testimonial-title {
    margin-top: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: #274C5B;
}

.home-testimonial-img {
    width: fit-content;
    margin: 60px auto;
    margin-bottom: 0;
}

.home-testimonial-rating {
    width: fit-content;
    margin: 20px auto;
    margin-bottom: 0;
}

.home-testmonial-desc {
    width: 780px;
    margin: 25px auto;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #525C60;
}

