.portfolio-single-info {
    width: fit-content;
    margin-top: -150px;
    margin-left: 260px;
    margin-right: 260px;
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
}

.portfolio-single-text {
    width: 891px;
    padding-top: 97px;
    padding-bottom: 96px;
    padding-left: 82px;
    padding-right: 82px;
    background-color: #fff;
}

.portfolio-single-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 70px;
    color: #274C5B;
}

.portfolio-single-desc {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #525C60;
}

.portfolio-single-details {
    width: 509px;
    padding-top: 106px;
    padding-bottom: 107px;
    padding-left: 111px;
    padding-right: 111px;
    background-color: #FAFAFA;

    table {
        td {
            padding-bottom: 18px;
        }

        tr {
            td {
                &:first-child {
                    display: flex;
                    justify-content: space-between;
                    width: 121px;
                    margin-right: 7px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    font-size: 25px;
                    color: #274C5B;

                    span {
                        display: block;
                    }
                }

                &:last-child {
                    font-family: "Open Sans", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: #525C60;
                }
            }

            &:last-child {

                td {
                    padding-bottom: 0;
                }

            }
        }
    }
}